.section {
    border: 1px solid gray;
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.container {
    margin: auto;
    width: 300px;
    text-align: center;
    position: relative;
}

.floatBottom {
    position: absolute;
    bottom: 0;
}

.user {
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.userContent {
    display: flex;
}

.preview {
    height: 600px;
    background: #ece9e9;
}

.topNav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bottomNav {
    display: flex;
    border: 1px solid black;
    font-size: 12px;
    justify-content: space-between;
    width: 100%;
}

.topNavItem {
    width: 60%;
    text-align: left;
    display: flex;
    align-items: center;
    p {
        margin-left: 8px;
    }
}

.bottomNavItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    p {
        margin: 0 auto;
        margin-top: 4px;
    }
}
